body{
background-color: black;
}
.container{
    margin: 0 auto;
    background-color: orange;
    width: 600px;
    height: 300px;
    border-radius: 10px;
}
.container p {
    font-size: 70px;
    text-align: center;
    font-family:fantasy  ;
}